body {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.42857;
  -webkit-font-smoothing: antialised; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.hidden {
  display: none; }

.loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }
  .loader .loader_inner {
    background-image: url("../img/load.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute; }

section,
.main_head {
  position: relative; }
  section h3,
  .main_head h3 {
    margin-top: 0;
    margin-bottom: 35px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px; }

section {
  padding: 70px 0 80px; }
  section h2 {
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    margin: 0 0 15px; }
    section h2.personal_header {
      margin-bottom: 30px;
      font-size: 13px;
      text-align: left;
      color: #555; }

.s_descr_wrap {
  text-align: center; }
  .s_descr_wrap .s_descr {
    display: inline-block;
    margin-bottom: 130px;
    text-transform: uppercase;
    font-size: 12px;
    position: relative; }
    .s_descr_wrap .s_descr:after {
      content: '';
      width: 150px;
      height: 1px;
      position: absolute;
      left: 50%;
      margin-left: -75px;
      margin-top: 60px;
      position: absolute;
      width: 150px; }

.main_head {
  min-height: 620px;
  padding-top: 20px; }

.logo_container {
  float: left; }

svg {
  width: 80px;
  height: 80px;
  z-index: 100;
  position: relative; }

.toggle_menu {
  float: right;
  width: 60px;
  height: 60px;
  position: fixed;
  z-index: 100;
  outline: 0;
  border: none;
  top: 20px;
  right: 20px;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s; }

.sandwich {
  width: 34px;
  height: 34px;
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }
  .sandwich > span {
    display: block; }
  .sandwich .sw-topper {
    position: relative;
    top: 0;
    width: 34px;
    height: 3px;
    background: white;
    border: none;
    border-radius: 4px 4px 4px 4px;
    transition: transform 0.5s, top 0.2s;
    transition-delay: 0.2s, 0s; }
  .sandwich .sw-bottom {
    position: relative;
    width: 34px;
    height: 3px;
    top: 7.5px;
    background: white;
    border: none;
    border-radius: 4px 4px 4px 4px;
    transition: transform 0.5s, top 0.2s;
    transition-delay: 0.2s, 0s; }
  .sandwich .sw-footer {
    position: relative;
    width: 34px;
    height: 3px;
    top: 15px;
    background: white;
    border: none;
    border-radius: 4px 4px 4px 4px;
    transition: all 0.5s;
    transition-delay: 0.1s; }

.sandwich.active .sw-topper {
  top: 9px;
  transform: rotate(-45deg); }

.sandwich.active .sw-bottom {
  top: 6px;
  transform: rotate(45deg); }

.sandwich.active .sw-footer {
  opacity: 0;
  top: 0;
  transform: rotate(180deg); }

.top_menu {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 50;
  right: 0;
  top: 0;
  display: none; }
  .top_menu ul, .top_menu li {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  .top_menu ul {
    margin-top: 120px;
    text-align: center; }
    .top_menu ul li:nth-child(1) a {
      -webkit-animation-duration: 0.5s;
      -moz-animation-duration: 0.5s;
      animation-duration: 0.5s; }
    .top_menu ul li:nth-child(2) a {
      -webkit-animation-duration: 1s;
      -moz-animation-duration: 1s;
      animation-duration: 1s; }
    .top_menu ul li:nth-child(3) a {
      -webkit-animation-duration: 1.5s;
      -moz-animation-duration: 1.5s;
      animation-duration: 1.5s; }
    .top_menu ul li:nth-child(4) a {
      -webkit-animation-duration: 2s;
      -moz-animation-duration: 2s;
      animation-duration: 2s; }
    .top_menu ul li a {
      display: block;
      text-transform: uppercase;
      font-size: 12px;
      opacity: 0;
      position: relative;
      height: 60px; }
      .top_menu ul li a span {
        display: block;
        position: relative;
        top: -40px;
        left: 0;
        height: 100%;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        transition: all 0.5s ease; }
        .top_menu ul li a span:hover {
          background-color: rgba(255, 255, 255, 0.05); }

.top_wrapper {
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10; }
  .top_wrapper .top_descr {
    display: table-row; }
    .top_wrapper .top_descr .top_centered {
      display: table-cell;
      text-align: center;
      vertical-align: middle; }
  .top_wrapper .top_text {
    display: inline-block; }
    .top_wrapper .top_text h1 {
      display: inline-block;
      margin-left: 20px;
      margin-right: 20px;
      padding: 10px 35px;
      color: #fff;
      border: 8px solid #fff;
      text-transform: uppercase;
      font-size: 3.2em;
      font-weight: 700; }
    .top_wrapper .top_text p {
      margin: 0;
      text-transform: uppercase;
      -webkit-animation-delay: 1.5s;
      -moz-animation-delay: 1.5s;
      animation-delay: 1.5s; }

.h_opacity {
  opacity: .5;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.main_footer {
  padding: 50px 0;
  font-size: 13px;
  font-weight: 300; }
  .main_footer .social_wrap {
    float: right;
    margin: 0; }

.person {
  text-align: center;
  margin-bottom: 35px; }
  .person img {
    max-width: 220px;
    display: inline-block;
    border-radius: 50%; }

.s_about p {
  margin-bottom: 25px; }

.s_about ul, .s_about li {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.s_about li {
  margin-bottom: 10px; }

.s_about .social_wrap {
  margin-top: 25px; }

.social_wrap li {
  display: inline-block;
  padding: 0 3px;
  font-size: 20px; }

.resume_container .left {
  text-align: right;
  border-right: 1px solid #d2d2d2; }
  .resume_container .left h3 {
    text-align: right; }

.resume_container .right {
  text-align: left; }
  .resume_container .right h3 {
    text-align: left; }

.resume_container h3 {
  margin-top: 30px; }

.resume_icon {
  font-size: 40px;
  margin-bottom: 35px; }

.resume_item {
  margin-bottom: 35px; }
  .resume_item p {
    margin-top: 10px; }
  .resume_item:last-child {
    margin-bottom: 0; }
    .resume_item:last-child p {
      margin-bottom: 0; }
  .resume_item .year {
    display: inline-block;
    margin-bottom: 15px;
    padding: 0 10px;
    font-weight: 600;
    font-style: italic; }

.resume_description {
  font-style: italic; }
  .resume_description strong {
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase; }

.left .resume_description strong {
  margin-left: 10px; }

.right .resume_description strong {
  margin-right: 10px; }

.s_portfolio ul, .s_portfolio li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center; }

.s_portfolio li {
  display: inline-block;
  margin: 0 10px;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
  line-height: 2; }

.s_portfolio ul {
  margin-bottom: 50px; }

.s_portfolio .portfolio_item {
  display: none;
  padding: 0; }
  .s_portfolio .portfolio_item img {
    width: 100%; }
  .s_portfolio .portfolio_item .port_item_cont {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding-top: 15%;
    opacity: 0;
    transition: all .5s; }
  .s_portfolio .portfolio_item:hover .port_item_cont {
    opacity: 1;
    padding-top: 20%; }
  .s_portfolio .portfolio_item h3 {
    color: #fff;
    margin-bottom: 0; }
  .s_portfolio .portfolio_item a {
    display: inline-block;
    background-color: transparent;
    border: 1px solid #fff;
    padding: 2px 10px; }

.podrt_descr {
  background-color: #fff;
  max-width: 500px;
  margin: auto; }
  .podrt_descr p, .podrt_descr h3 {
    padding: 20px;
    padding-bottom: 0; }
  .podrt_descr h3 {
    margin-top: 20px;
    margin-bottom: 0;
    padding-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400; }
  .podrt_descr p {
    margin-top: 0; }
  .podrt_descr img {
    width: 100%;
    margin-top: 20px; }

.modal_box_content {
  position: relative; }
